
:root {
    --fondoAzul: #001255;
    --fondoAzulHeader: #000023;
    --fondoBotonEnviar: #101248;
    --fondoBotonEnviar-hover: #78d;
    --fondoSelector: #013;
    --fondoDiaCalendarioSeleccionado: #13966F;
    --bordeBotonEnviar: #eec;
    --bordeDiaCalendario: #999;
    --blancoIntenso: #ffffee;
    --blancoAzulado:rgb(200, 245, 255);
    --blancoAmarillento: #ee9;
    --blanco: #cccccc;
    --grisVacio: rgb(59, 59, 59);
    --casiNegro: #111111;
    --amarillo: #ed5;
    --rojoError1: #910;
    --rojoError2: #d21;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* background-color: #595959; */
    /* background-color: rgba(108, 108, 108, 0.9); */
    background-color: var(--fondoAzul);
    background-image: url('assets/img/fondo-azulOscuro.png');
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: block;
}

#main {
    /* border: 1px solid green; */
    width: inherit;
    height: inherit;
    max-width: 1200px;
    font-size: 32px;
    display: block;
    margin: 0 auto;
}

.header {
    width: 100vw;
    height: fit-content;
    max-width: 100%;
    min-height: 100px;
    font-size: 32px;
    color: var(--blanco);
    font-weight: bold;
    background-color: var(--fondoAzulHeader);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.calculador-proporcional {
    font-size: 32px;
    color: var(--amarillo);
    padding: 0.8rem 1.8rem;
}

.header-h3 {
    color: #eda;
    margin-top: 1.4rem;
}

#introduccion-datos {
    width: 100vw;
    height: fit-content;
    max-width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

label {
    font-size: 24px;
    color: var(--blancoIntenso);
    padding: 0.6rem 0;
}

input {
    width: 240px;
    min-width: 150px;
    height: fit-content;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
    color: var(--casiNegro);
    background-color: var(--blanco);
    display: inline-block;
    padding: 0.8rem 1rem;
    margin-bottom: 2rem;
}

#input-importe-total {
    width: 240px;
    min-width: 150px;
    height: fit-content;
    border-radius: 4px;
    font-size: 24px;
    text-align: end;
    color: var(--casiNegro);
    background-color: var(--blanco);
    display: inline-block;
    padding: 0.8rem 1rem;
    margin-bottom: 2rem;
}

#input-dia-inicial {
    width: 240px;
    min-width: 150px;
    height: fit-content;
    border-radius: 4px;
    font-size: 24px;
    text-align: end;
    color: var(--casiNegro);
    background-color: var(--blanco);
    display: inline-block;
    padding: 0.8rem 1rem;
    margin-bottom: 2rem;
}

#input-dia-final {
    width: 240px;
    min-width: 150px;
    height: fit-content;
    border-radius: 4px;
    font-size: 24px;
    text-align: end;
    color: var(--casiNegro);
    background-color: var(--blanco);
    display: inline-block;
    padding: 0.8rem 1rem;
    margin-bottom: 2rem;
}

.error-fecha-final-anterior {
    color: var(--rojoError2);
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    text-shadow: 1px 1px 1px var(--casiNegro);
}

.error-rojo {
    color: var(--rojoError1);
    border: 1px solid var(--rojoError1);
    border-radius: 6px;
}

.botones-enviar {
    border: 1px solid var(--bordeBotonEnviar);
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    max-width: 160px;
    font-size: 24px;
    font-weight: bold;
    color: var(--blancoAzulado);
    /* background-color: #13e; */
    background-color: var(--fondoBotonEnviar);
    padding: 1rem 2rem;
    display: inline-block;
    cursor: pointer;
}

.botones-enviar:hover {
    color: var(--amarillo);
    background-color: var(--fondoBotonEnviar-hover);
}

.botones-dias-computados {
    cursor: pointer;
}

#boton-seleccionar-todos {
    max-width: 320px;
    background-color: var(--fondoDiaCalendarioSeleccionado);
    margin: 0 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 24px;
}

#boton-seleccionar-todos:hover {
    color: var(--blancoIntenso);
    background-color: var(--fondoBotonEnviar-hover);
}

.selector {
    border: 1px solid var(--bordeBotonEnviar);
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    max-width: 180px;
    font-size: 24px;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--fondoSelector);
    padding: 0.4rem 2rem;
    display: inline-block;
    cursor: pointer;
    margin: 0 1rem;
}

#nombres-personas-container {
    padding: 1rem 0.2rem;
}

#personas-resultados-container {
    padding: 1rem 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#dias-computados-container {
    padding: 1rem 1.4rem;
}

#boton-nombres, #boton-enviar-dias-computados {
    min-width: 240px;
    font-size: 24px;
}

#boton-repetir {
    margin-left: 80%;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    margin-bottom: 4rem;
}

#titulo-mes, #titulo-mes-2, #titulo-mes-3 {
    color: var(--blancoAmarillento);
    margin-left: 1rem;
}

th {
    color: var(--blanco);
    font-size: 18px;
    padding: 1rem 1rem;
}

td {
    border: 2px solid var(--bordeDiaCalendario);
    border-radius: 6px;
    font-size: 20px;
    color: var(--blanco);
    padding: 1rem 1rem;
    text-align: end;
}

.marcado {
    background-color: var(--fondoDiaCalendarioSeleccionado);
}

.no-marcado {
    background-color: transparent;
}

#sustituir-nombre {
    color: var(--fondoDiaCalendarioSeleccionado);
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #431;
    padding: 0;
    margin: 0 0 1rem 0;
}

.oculto {
    display: none;
}

.no-oculto {
    display: inline-block;
}

.no-oculto-flex {
    display: flex;
}

.modal {
    width: fit-content;
    height: fit-content;
    max-width: 480px;
    /* min-height: 320px; */
    border-radius: 6px;
    /* border: 1px solid pink; */
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    color: var(--blanco-azulado);
    background-color: var(--azulOscuro);
    box-shadow: 4px 4px 8px #eee;
    padding: 2rem 5rem;
    position: absolute;
    margin-top: 200px;
    margin-left: auto;
    opacity: 1;
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

@keyframes opacidadTransicion {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.9;
    }
}

/* ----------------------------------------------------
RESPONSIVE
---------------------------------------------------- */
@media (max-width: 768px) {
    #main {
        font-size: 24px;
    }

    .header {
        min-height: 80px;
        font-size: 24px;
        padding: 0.4rem 1rem;
    }

    .calculador-proporcional {
        font-size: 24px;
        padding: 0.4rem 0.6rem;
    }

    .header-h3 {
        margin-top: 1.2rem;
    }

    #introduccion-datos {
        padding: 2rem 1rem;
    }

    label {
        font-size: 20px;
        padding: 0.6rem 0;
    }

    input {
        width: 150px;
        min-width: 140px;
        font-size: 24px;
        padding: 0.8rem 1rem;
        margin-bottom: 2rem;
    }

    #input-importe-total {
        width: 150px;
        min-width: 140px;
        font-size: 24px;
        padding: 0.8rem 1rem;
        margin-bottom: 2rem;
    }

    #input-dia-inicial {
        width: 180px;
        min-width: 140px;
        font-size: 20px;
        padding: 0.8rem 1rem;
        margin-bottom: 2rem;
    }

    #input-dia-final {
        width: 180px;
        min-width: 140px;
        font-size: 20px;
        padding: 0.8rem 1rem;
        margin-bottom: 2rem;
    }

    .botones-enviar {
        max-width: 160px;
        font-size: 22px;
        padding: 0.8rem 1.4rem;
    }

    #boton-seleccionar-todos {
        max-width: 160px;
        margin: 0 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 20px;
    }

    #boton-repetir {
        margin-left: 48%;
    }

    .selector {
        max-width: 100px;
        font-size: 24px;
        padding: 0.4rem 1.4rem;
        margin: 0 0.2rem;
    }

    #dias-computados-container {
        padding: 1rem 0.2rem;
    }

    #boton-nombres, #boton-enviar-dias-computados {
        min-width: 160px;
        font-size: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #titulo-mes, #titulo-mes-2 {
        margin-left: 1rem;
    }

    table {
        border-spacing: 8px;
    }

    th {
        color: #bbb;
        font-size: 14px;
        padding: 1rem 0.6rem;
    }

    td {
        border: 2px solid #212121;
        border-radius: 6px;
        font-size: 16px;
        padding: 1rem 0.6rem;
    }
}
