
:root {
    --blanco: #cccccc;
    --blancoIntenso: #ffffee;
    --blanco-azulado:rgb(200, 245, 255);
    --grisVacio: rgb(59, 59, 59);
    --casiNegro: #111111;
    --amarillo: rgb(255, 252, 99);
    --azulOscuro: #137;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #555;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: block;
}

#main {
    /* border: 1px solid green; */
    width: inherit;
    height: inherit;
    max-width: 1000px;
    font-size: 32px;
    display: block;
    margin: 0 auto;
}

.header {
    width: 100vw;
    height: fit-content;
    max-width: 100%;
    min-height: 100px;
    font-size: 24px;
    color: #ccc;
    font-weight: bold;
    background-color: #333;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.6rem 2rem;
}

.calculador-proporcional {
    font-size: 32px;
    color: #ed5;
    padding: 0.8rem 1rem;
}

#introduccion-datos {
    width: 100vw;
    height: fit-content;
    max-width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

label {
    font-size: 24px;
    color: #ddd;
    padding: 0.6rem 0;
}

#input-importe-total {
    width: 240px;
    min-width: 150px;
    height: 70px;
    min-height: 50px;
    border-radius: 4px;
    font-size: 24px;
    text-align: end;
    color: #333;
    background-color: #ddd;
    display: inline-block;
    padding: 0.8rem 1rem;
}

.botones-enviar {
    border: none;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    max-width: 160px;
    font-size: 24px;
    font-weight: bold;
    color: #ccc;
    background: #13e;
    padding: 1.2rem 2rem;
    display: inline-block;
    cursor: pointer;
}

.botones-enviar:hover {
    color: #fe7;
    background-color: #028;
}

#input-dia-inicial {
    width: 240px;
    min-width: 150px;
    height: 70px;
    min-height: 50px;
    border-radius: 4px;
    font-size: 24px;
    text-align: end;
    color: #333;
    background-color: #ddd;
    display: inline-block;
    padding: 0.8rem 1rem;
}

#input-dia-final {
    width: 240px;
    min-width: 150px;
    height: 70px;
    min-height: 50px;
    border-radius: 4px;
    font-size: 24px;
    text-align: end;
    color: #333;
    background-color: #ddd;
    display: inline-block;
    padding: 0.8rem 1rem;
}

.selector-numero-preguntas {
    border: none;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    max-width: 320px;
    font-size: 24px;
    font-weight: bold;
    color: #393937;
    background: lightseagreen;
    padding: 0.4rem 2rem;
    display: inline-block;
    margin-top: 400px;
    margin-left: auto;
    position: absolute;
    opacity: 0.8;
    cursor: pointer;
    z-index: 15;
}

.modal {
    width: fit-content;
    height: fit-content;
    max-width: 480px;
    /* min-height: 320px; */
    border-radius: 6px;
    /* border: 1px solid pink; */
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    color: var(--blanco-azulado);
    background-color: var(--azulOscuro);
    box-shadow: 4px 4px 8px #eee;
    padding: 2rem 5rem;
    position: absolute;
    margin-top: 200px;
    margin-left: auto;
    opacity: 1;
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #031585;
    padding: 0;
    margin: 0;
}

.oculto {
    display: none;
}

.no-oculto {
    display: inline-block;
}

.no-oculto-flex {
    display: flex;
}

@keyframes opacidadTransicion {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.9;
    }
}

/* ----------------------------------------------------
RESPONSIVE
---------------------------------------------------- */
@media (max-width: 768px) {
    
}
